.pagination {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  font-size: 2rem;
  color: red;

  justify-content: center;

  &__arrow {
    cursor: pointer;
    padding: 0.3rem 0.9rem;
  }

  &__page {
    cursor: pointer;
    padding: 0.3rem 0.9rem;
    background-color: lightcyan;
    border: 1px #333 solid;
    border-radius: 50%;

    &--current {
      background-color: #111;
    }
  }
}
