.products {
  margin: 0.5rem auto 3rem auto;
  text-align: center;
  font-size: 1.5rem;
  max-width: 130rem;

  &__heading {
    margin: 3rem 0 3rem 0;
  }

  &__grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(5, 1fr);

    @media only screen and (max-width: 82.5rem) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }

    @media only screen and (max-width: 50rem) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}
