.cart-item {
  display: flex;
  gap: 5rem;
  margin: 0 0 1rem 5rem;
  &__left {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 5rem;
  }

  &__img {
    height: 10rem;
  }

  &__right {
    align-self: center;
    font-weight: bold;
  }

  &__title {
    font-size: 1.6rem;
    color: navy;
  }

  &__pricing-details {
    display: flex;
    gap: 1.5rem;
    font-size: 1.4rem;
    margin-top: 0.7rem;
  }
}
