.button {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  cursor: pointer;
  height: 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px #222 solid;
  // background-color: #aa336b;
  background-color: purple;
  color: #eee;
  font-weight: bold;
  font-size: 1.4rem;
}

.button:hover {
  background-color: #e6c297;
}
