.reviews {
  background-color: #e5dbff;
  border-radius: 2px;
  border: 1px #888 solid;
  width: 130rem;
  max-width: 100%;
  margin: 3rem auto;
  font-size: 2rem;
  &__add-container {
    width: 100%;
    border-bottom: 1px black solid;
  }

  &__add {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;

    & button {
      background-color: #842752 !important;
      padding: 0.3rem;
    }

    @media only screen and (max-width: 38.5rem) {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      font-size: 1.8rem;

      & button {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
