.product-item {
  max-width: 80%;
  margin: 0 auto;
  // background-color: #fff;

  background-color: #e6f1ff;

  cursor: pointer;
  color: #222;
  overflow: hidden;
  border-radius: 2px;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  // font-family: "Roboto Slab", serif;

  &__img {
    height: 30rem;
    border: 1px #444 solid;
    padding-bottom: 1px;
  }

  &__title {
    padding: 0.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    width: 100%;
    cursor: pointer;
    height: 3rem;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #ffd8a8;
    font-weight: bold;
  }

  &__price {
    border-top: 1px #444 solid;
    border-bottom: 1px #444 solid;
    padding: 0.3rem 0;
  }
}
