.checkout {
  max-width: 140rem;
  margin: 0 auto;
  width: 100%;

  &__header {
    font-size: 2.5rem;
  }

  &__header,
  &__subheader {
    text-align: center;
    margin: 1.5rem 0;
  }

  &__subheader {
    font-size: 1.9rem;
    text-align: left;
  }

  &__products-header {
    text-align: center;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    justify-content: space-around;
  }

  &__left {
    background-color: #eee;
    border-radius: 10px;
    padding: 2rem;
    flex: 1;
    max-width: 90vw;
  }

  &__delivery {
    font-size: 2rem;
    margin: 1rem 1rem 2rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;

    @media only screen and (max-width: 25rem) {
      flex-direction: column;
    }
  }

  &__total {
    font-size: 2rem;

    & span {
      padding: 0.8rem;
      text-decoration: underline double #444;
      text-underline-offset: 5px;
    }
  }

  &__right {
    border-radius: 10px;
    max-width: 90vw;
    flex-grow: 0.25;
    padding: 2rem;
    background-color: #eee;
  }
}
