.checkout-item {
  &__title {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    max-width: 75%;
  }

  &__pricing {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__price {
    text-decoration: underline #444;
    text-underline-offset: 2.1px;
  }
}
