.header {
  min-height: 6rem;
  background-color: #222;
  color: #eee;
  display: flex;
  align-items: center;
  &__logo {
    font-size: 2.6rem;
    cursor: pointer;
    font-weight: 600;
    margin: 0 auto 0 5rem;
  }

  &__btns {
    display: flex;
    gap: 3rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 27.5rem) {
  .header {
    flex-direction: column;

    &__logo {
      margin: 0;
    }
    &__btns {
      align-items: center;
      margin: 1rem 0;
    }
  }
}
