.header {
  height: 6rem;
  background-color: #222;
  color: #eee;
  display: flex;
  align-items: center;

  &__logo {
    font-size: 2.6rem;
    cursor: pointer;
    font-size: bold;
    margin: 0 auto 0 4rem;
  }

  &__favs {
    margin-right: 5rem;
  }
}
