.header {
  height: 6rem;
  background-color: #222;
  color: #eee;
  display: flex;
  align-items: center;

  &__logo {
    font-size: 2.6rem;
    cursor: pointer;
    font-weight: 600;
    margin: 0 auto 0 5rem;
  }

  &__favs {
    margin: 0 5rem 0 1rem;
  }
}
